* {
    box-sizing: border-box;

}

body {
    background: url("/pics/hatter07.jpg");
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

.wrapper {
    width: 800px;;
    margin: auto;
    
}

header {
    background: url("/pics/hatter08.jpg") ;
    
    height: 150px;
    color: black;
    font-size: 40px;
    padding:40px 200px;
    text-shadow: 0 0 10px rgba(255, 4, 4, 1);

}

main {
    height: 450px;
    text-align: center;  
    font-size: 50px;
    margin:0;
}

main div.szoveg {
    padding-top: 50px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 4, 4, 1);
    
}

main div.elemek {
    color: white;
    box-shadow: 0 0 3px white;
    font-size: 30px;
    
}

main div img {
    margin: 60px;
    box-shadow: 0 0 10px white;
    
    
    
}

img:hover {
    cursor: pointer;
    background-image: url("/pics/ollo1.jpg");
    opacity: 0.5;
    
}

span.eredmeny {
    font-size: 30px;
    color: yellow;
}

.content::after,
footer::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    /*background: url("/pics/hatter08.jpg");*/
    color: black;
    text-shadow: 0 0 10px rgba(255, 4, 4, 1);
    font-size: 30px;
    text-align: right;
}



footer a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

footer a:hover {
    font-family: Arial, Helvetica, sans-serif
}